
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import '../../_assets/styles/_variables';

.header {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $white;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .06); 

  .navbar {
    width: 100%;
    display: flex;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar__brand {
        font-family: 'Playfair Display', serif;
        font-size: 1.5em; 
        transition: all .5s;
        color: $grey;
        &:hover {
          color: $dark-grey;
        }       
      }
      
      .navbar__items {
        display: flex;
        list-style-type: none;

        .navbar__item {
          .btn {
            font-size: 1.3em;
            position: relative;
            display: inline-block;
            color: $grey;
            transition: all .5s;

            &:hover {
              color: $dark-grey;
            }
            
            .navbar__badge {
              position: absolute;
              top: -5px;
              right: 0px;
              background-color: $danger;
              border-radius: 50%;
              padding: 5px;
              font-size: .7em;
              color: $white;
            }
          }
        }
      }
    }
  }
}
