@import '../../_assets/styles/_variables';

.search {
	overflow-y: hidden;
  .search__input {
  	 padding: 1em;
     box-shadow: 0 5px 10px #CCC;

     input {
			height: 2.5em;
			border-radius: 4px;
			border: 1px solid $grey;
			color: $dark-grey;
			font-weight: 600;
			padding: 1em;	
			outline: none;				
     }
	}
	
	.results {		
		overflow-y: auto;		
		.result__item{
			padding: 1em;			
		}

		.result__count {
			font-size: 1.2em;
			padding: 1em 1em 0;
			color: $grey;
			font-weight: 600;
		}
	}

}